
    $font-family:               Futura, sans-serif;

    $font-weight-thin:          200;
    $font-weight-normal:        400;
    $font-weight-bold:          700;

    $gutter:                    30px;

    $color-gray-light:          rgb(240, 240, 240);
