*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

@font-face {
  font-family: 'Futura';
  src: url("../fonts/futura/futura-book.eot");
  src: url("../fonts/futura/futura-book.eot") format("embedded-opentype"), url("../fonts/futura/futura-book.woff") format("woff"), url("../fonts/futura/futura-book.ttf") format("truetype"), url("../fonts/futura/futura-book.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Futura';
  src: url("../fonts/futura/futura-bold.eot");
  src: url("../fonts/futura/futura-bold.eot") format("embedded-opentype"), url("../fonts/futura/futura-bold.woff") format("woff"), url("../fonts/futura/futura-bold.ttf") format("truetype"), url("../fonts/futura/futura-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Futura';
  src: url("../fonts/futura/futura-book-italic.eot");
  src: url("../fonts/futura/futura-book-italic.eot") format("embedded-opentype"), url("../fonts/futura/futura-book-italic.woff") format("woff"), url("../fonts/futura/futura-book-italic.ttf") format("truetype"), url("../fonts/futura/futura-book-italic.svg") format("svg");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Futura';
  src: url("../fonts/futura/fututa-bold-italic.eot");
  src: url("../fonts/futura/fututa-bold-italic.eot") format("embedded-opentype"), url("../fonts/futura/fututa-bold-italic.woff") format("woff"), url("../fonts/futura/fututa-bold-italic.ttf") format("truetype"), url("../fonts/futura/fututa-bold-italic.svg") format("svg");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Futura';
  src: url("../fonts/futura/futura-light.eot");
  src: url("../fonts/futura/futura-light.eot") format("embedded-opentype"), url("../fonts/futura/futura-light.woff") format("woff"), url("../fonts/futura/futura-light.ttf") format("truetype"), url("../fonts/futura/futura-light.svg") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Futura';
  src: url("../fonts/futura/futura-light-italic.eot");
  src: url("../fonts/futura/futura-light-italic.eot") format("embedded-opentype"), url("../fonts/futura/futura-light-italic.woff") format("woff"), url("../fonts/futura/futura-light-italic.ttf") format("truetype"), url("../fonts/futura/futura-light-italic.svg") format("svg");
  font-weight: 200;
  font-style: italic; }

:host {
  display: block;
  font-family: Futura, sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased; }
